<form method="post" action="/edit">

<h1>enter Movie name</h1>
<input value={{matchedMovie.ID}} name="ID" type="hidden">
<input placeholder={{matchedMovie.Name}} name="Name" type="text">

{{!-- <button type="submit">submit edit</button> --}}
{{!-- <a href="/edit/{{matchedMovie.ID}}">Edit</a> --}}
<button type="submit">submit</button>
</form>